<%- include('partials/header', { title: title }) %>
      <!--header-->
      <header>
        <div class="container text-center">
            <div class="row p-3 ms-5">
                <div class="col-1"></div>
                <div class="col-1"><a href="/user-mobiles"><button class="btn btn-text-white" style="border-color: white; font-size: small;"><img width="35" height="35" src="/public/category/Mi-10i-5G-(6GB-RAM-128GB-ROM)-Pacific-Blue-2.jpg" alt=""><br>MOBILES</button></a></div>
                <div class="col-1"><a href="/user-watch"><button class="btn btn-text-white" style="border-color: white; font-size: small;"><img width="35" height="35" src="/public/category/file-1659338875326.jpg" alt=""><br>WATCHES</button></a></div>
                <div class="col-1"><a href="/user-earphone"><button class="btn btn-text-white" style="border-color: white; font-size: small;"><img width="35" height="35" src="/public/category/TWS.jpg" alt=""><br>EARPHONES</button></a></div>
                <div class="col-1"><a href="/user-speaker"><button class="btn btn-text-white" style="border-color: white;font-size: small;"><img width="35" height="35" src="/public/category/speakers.jpg" alt=""><br>SPEAKERS</button></a></div>
                <div class="col-1"><a href="/user-charger"><button class="btn btn-text-white" style="border-color: white;font-size: small;"><img width="35" height="35" src="/public/category/chargerr.jpg" alt=""><br>CHARGERS</button></a></div>
                <div class="col-1"><a href="/user-powerbank"><button class="btn btn-text-white" style="border-color: white;font-size: small;"><img width="35" height="35" src="/public/category/file-1659337069019.jpg" alt=""><br>POWERBANKS</button></a></div>
                <div class="col-1"><a href="/user-smartpoint"><button class="btn btn-text-white" style="border-color: white;font-size: small;"><img width="35" height="35" src="/public/category/smart-pointyy.jpg" alt=""><br>SMARTPOINT</button></a></div>
                <div class="col-1"><a href="/user-storagedevice"><button class="btn btn-text-white" style="border-color: white;font-size: small;"><img width="35" height="35" src="/public/category/storage.jpg" alt=""><br>STORAGEDEVICES</button></a></div>
            </div>
        </div>
    </header>
    <!--section-->
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/ads/ARRANTY-ON-USED-MOBILES.jpg" class="d-block w-100" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="/public/ads/GADGETS-EMI.jpg" class="d-block w-100" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="/public/ads/PREOWNEDPHONE-COLLECTIONS.jpg" class="d-block w-100" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="/public/ads/SSKYLINE-PRO-OFFER.jpg" class="d-block w-100" alt="Slide 4">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"></button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"></button>
        </div>
    </section>
    <!--second section-->
    <section>
      <br>
      <div id="div1">
        <p style="font-weight: bold;">SUPER VALUE PRODUCT 
          <button style="float: right;border-radius:10px; border: 1px solid gainsboro;">view all 
            <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
          </button>
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-5">
          <% products.slice(0, 3).forEach(product => { %>
            <div class="col" >
              <div class="card" id="card">
                <div class="container mt">
                  <form action="/wishlist" method="POST">
                    <input type="hidden" name="product" value="<%= product._id %>">
                    <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                    <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                    <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                  <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                    <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                  </button>
                </form>
                </div>
                <img   src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                <div class="card-body" style="font-size: small;">
                  <h6 class="card-title"><a style="color: black; text-decoration: none;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                  <p class="card-text"><%= product.model %></p>
                  
                  <% 
                          function formatNumber(num) { 
                              // Convert num to a number if it's not already
                              num = Number(num);
                              return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                          }

                          let productPrice = Number(product.price); // Ensure product.price is a number
                          let discount = productPrice * (product.discountPercentage / 100);
                          let discountedPrice = productPrice - discount;

                          let formattedOriginalPrice = formatNumber(productPrice);
                          let formattedDiscountedPrice = formatNumber(discountedPrice);
                      %>
                   <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
    <!--second section-->
    <section>
      <div class="text-center">
        <img id="ads" width="800px" height="400px" src="/public/ads/GOOGLE-PIXELS-LARGE-COLLECTIONS.jpg" class="rounded" alt="...">
      </div>
    </section>
    <!--third section-->
    <section>
      <br>
      <div id="div2">
        <p style="font-weight: bold;">SUPER VALUE MOBILES 
          <button style="float: right;border-radius:10px; border: 1px solid gainsboro;">view all 
            <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
          </button>
        </p>
        <div class="row row-cols-1 row-cols-md-6 g-1">
          <% products.filter(product => product.category === 'SUPER VALUE MOBILES').slice(0, 6).forEach(product=> { %>
            <div class="col">
              <div class="card" id="card">
                <div class="container mt-1">
                  <form action="/wishlist" method="POST">
                    <input type="hidden" name="product" value="<%= product._id %>">
                    <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                    <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                    <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                  <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                    <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                  </button>
                </form>
                </div>
                <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                <div class="card-body" style="font-size: small;">
                  <h6 class="card-title"><a style="color: black; text-decoration: none; margin-top: -25px;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                  <p class="card-text"><%= product.model %></p>
                  
                  <% 
                          function formatNumber(num) { 
                              // Convert num to a number if it's not already
                              num = Number(num);
                              return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                          }

                          let productPrice = Number(product.price); // Ensure product.price is a number
                          let discount = productPrice * (product.discountPercentage / 100);
                          let discountedPrice = productPrice - discount;

                          let formattedOriginalPrice = formatNumber(productPrice);
                          let formattedDiscountedPrice = formatNumber(discountedPrice);
                      %>
                   <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
    <!--fourth section-->
    <section>
      <div class="text-center">
        <img id="ads" width="1400px" height="750px" src="/public/ads/WARRANTY-USE-MOBILES.jpg" class="rounded" alt="...">
      </div>
    </section>
        <!--fifth section-->
        <section>
          <br>
          <div id="div2">
            <p style="font-weight: bold;">GADGETS
              <button style="float: right;border-radius:10px; border: 1px solid gainsboro;"><a style="text-decoration: none;" href="/user-mobiles">view all</a> 
                <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
              </button>
            </p>
            <div class="row row-cols-1 row-cols-md-6 g-1">
              <% products.filter(product => product.category === 'gadget').slice(0, 6).forEach(product=> { %>
                <div class="col">
                  <div class="card" id="card">
                    <div class="container mt">
                      <form action="/wishlist" method="POST">
                        <input type="hidden" name="product" value="<%= product._id %>">
                        <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                        <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                        <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                      <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                        <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                      </button>
                    </form>
                    </div>
                    <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                    <div class="card-body" style="font-size: small;">
                      <h6 class="card-title"><a style="color: black; text-decoration: none;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                      <p class="card-text"><%= product.model %></p>
                      
                      <% 
                          function formatNumber(num) { 
                              // Convert num to a number if it's not already
                              num = Number(num);
                              return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                          }

                          let productPrice = Number(product.price); // Ensure product.price is a number
                          let discount = productPrice * (product.discountPercentage / 100);
                          let discountedPrice = productPrice - discount;

                          let formattedOriginalPrice = formatNumber(productPrice);
                          let formattedDiscountedPrice = formatNumber(discountedPrice);
                      %>
                   <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </section>
      <div class="col-12">
        &nbsp;<br>&nbsp;&nbsp;&nbsp;
      </div>
        <!--sixth section-->
        <section>
          <br>
          <div id="div2">
            <p style="font-weight: bold;">IPHONE COLLECTION
              <button style="float: right;border-radius:10px; border: 1px solid gainsboro;"><a style="text-decoration: none;" href="/user-mobiles">view all</a>
                <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
              </button>
            </p>
            <div class="row row-cols-1 row-cols-md-6 g-1">
              <% products.filter(product => product.category === 'mobile' && product.brand === 'Apple').slice(0, 6).forEach(product=> { %>
                <div class="col">
                  <div class="card" id="card">
                    <div class="container mt">
                      <form action="/wishlist" method="POST">
                        <input type="hidden" name="product" value="<%= product._id %>">
                        <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                        <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                        <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                      <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                        <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                      </button>
                    </form>
                    </div>
                    <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                    <div class="card-body" style="font-size: small;">
                      <h6 class="card-title"><a style="color: black; text-decoration: none;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                      <p class="card-text"><%= product.model %></p>
                      
                      <% 
                      function formatNumber(num) { 
                          // Convert num to a number if it's not already
                          num = Number(num);
                          return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                      }

                      let productPrice = Number(product.price); // Ensure product.price is a number
                      let discount = productPrice * (product.discountPercentage / 100);
                      let discountedPrice = productPrice - discount;

                      let formattedOriginalPrice = formatNumber(productPrice);
                      let formattedDiscountedPrice = formatNumber(discountedPrice);
                  %>
               <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </section>
        <div class="col-12">
          &nbsp;&nbsp;&nbsp;
        </div>
            <!--seventh section-->
            <section >
              <br>
              <div id="div2">
                <p style="font-weight: bold;">SMART WATCH
                  <button style="float: right;border-radius:10px; border: 1px solid gainsboro;"><a style="text-decoration: none;" href="/user-watch">view all</a>
                    <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
                  </button>
                </p>
                <div class="row row-cols-1 row-cols-md-6 g-1">
                  <% products.filter(product => product.category === 'watch').slice(0, 6).forEach(product=> { %>
                    <div class="col">
                      <div class="card" id="card">
                        <div class="container mt">
                          <form action="/wishlist" method="POST">
                            <input type="hidden" name="product" value="<%= product._id %>">
                            <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                            <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                            <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                          <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                            <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                          </button>
                        </form>
                        </div>
                        <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                        <div class="card-body" style="font-size: small;">
                          <h6 class="card-title"><a style="color: black; text-decoration: none;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                          <p class="card-text"><%= product.model %></p>
                          
                          <% 
                          function formatNumber(num) { 
                              // Convert num to a number if it's not already
                              num = Number(num);
                              return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                          }

                          let productPrice = Number(product.price); // Ensure product.price is a number
                          let discount = productPrice * (product.discountPercentage / 100);
                          let discountedPrice = productPrice - discount;

                          let formattedOriginalPrice = formatNumber(productPrice);
                          let formattedDiscountedPrice = formatNumber(discountedPrice);
                      %>
                   <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                        </div>
                      </div>
                    </div>
                  <% }); %>
                </div>
              </div>
            </section>
            <div class="col-12">
              &nbsp;&nbsp;&nbsp;
            </div>
                <!
            <!--eight section-->
            <section>
              <br>
              <img class="p-2" width="500px" height="200px" src="/public/ads/BEST-PRICE-ANDROID-MOBILES.jpg" class="rounded float-start" alt="...">
              <img class="p-2" width="500px" height="200px" src="/public/ads/ONEPLUS-COLLECTION-WITH-BEST-PRICE.jpg" class="ps-4" alt="...">
              <img class="p-2" width="500px" height="200px" src="/public/ads/USED-MOBILES-OFFERS.jpg" class="rounded float-end" alt="...">
            </section>
            <div class="col-12">
              &nbsp;&nbsp;&nbsp;
            </div>
                <!
        <!--ninth section-->
          <section  >
            <br>
            <div id="div2">
              <p style="font-weight: bold;">FEATURED PRODUCT
                <button style="float: right;border-radius:10px; border: 1px solid gainsboro;">view all 
                  <img width="20" height="20" src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/20/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-20.png" alt="view all icon"/>
                </button>
              </p>
              <div class="row row-cols-1 row-cols-md-6 g-1">
                <% products.filter(product => product.category === 'mobile' ).slice(0, 6).forEach(product=> { %>
                  <div class="col">
                    <div class="card" id="card">
                      <div class="container mt">
                        <form action="/wishlist" method="POST">
                          <input type="hidden" name="product" value="<%= product._id %>">
                          <input  type="hidden" name="model" placeholder="Model" value="<%= product.product %>">
                          <input  type="hidden" name="price" placeholder="Price" value="<%= product.price %>">
                          <input type="hidden" name="imagePath" value="<%= product.imagePath %>">
                        <button style="background-color: white;border: none;" id="favoriteBtn" class="favorite-btn" type="submit">
                          <span id="favoriteIcon"><img width="20" height="20" src="https://img.icons8.com/ios/20/like--v1.png" alt="like--v1"/ title="add to favorite"</span>
                        </button>
                      </form>
                      </div>
                      <img src="<%= product.imagePath %>" class="card-img-top" alt="<%= product.product %>">
                      <div class="card-body" style="font-size: small;">
                        <h6 class="card-title"><a style="color: black; text-decoration: none;" href="/detail-product/<%= product._id %>"><%= product.product %></a></h6>
                        <p class="card-text"><%= product.model %></p>
                        
                        <% 
                          function formatNumber(num) { 
                              // Convert num to a number if it's not already
                              num = Number(num);
                              return num.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ",").replace(/^0+/, '');
                          }

                          let productPrice = Number(product.price); // Ensure product.price is a number
                          let discount = productPrice * (product.discountPercentage / 100);
                          let discountedPrice = productPrice - discount;

                          let formattedOriginalPrice = formatNumber(productPrice);
                          let formattedDiscountedPrice = formatNumber(discountedPrice);
                      %>
                   <h6><span class="original-price" style="text-decoration: line-through; color: green;">₹<%= formattedOriginalPrice %></span> <span><small style="color: red; text-decoration: none;"><%= product.discountPercentage %>% off</small></span></h6>
                  <p style="font-weight: bolder; font-size: large;">₹<%= formatNumber(discountedPrice) %></p>
                      </div>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
            <br>
          </section>
          <div class="col-12" >
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        <%- include('partials/footer') %>

        <script>
          fetch('/wishlist', {
  method: 'POST',
  body: formData, // Assuming formData contains your form data
})
  .then(response => response.json())
  .then(data => {
    if (data.message === 'Item removed from the favorites') {
      document.querySelector('#favorite-icon').innerHTML = data.icon;
    } else if (data.message === 'Item added to the favorites') {
      document.querySelector('#favorite-icon').innerHTML = data.icon;
    }
  })
  .catch(error => console.error('Error:', error));

        </script>
          