<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            Swal.fire({
                position:"top-end",
                title: "<%= type === 'success' ? 'Success' : 'Error' %>",
                text: "<%= message %>",
                icon: "<%= type %>",
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                window.location.href = '';
            });
        });
    </script>
</body>
</html>



<section id="products">
    <br />
    <div id="mobiledetail">
      <div class="mb-3">
        <% const selectedearphone=products.find(product=> product._id == productId && product.category === "earphone"); %>
          <% if (selectedearphone) { %>
            <div class="card margin-top" style="width: auto; border: 1px solid gainsboro"
              data-brand="<%= selectedearphone.brand %>" data-price="<%= selectedearphone.price %>"
              data-discountpercentage="<%= selectedearphone.discountPercentage %>">
              <div class="row g-0">
                <div class="col-md-4">
                  <img style="size: 25px" width="210px" height="210px" src="/uploads/<%= selectedearphone.imagePath %>"
                    class="img-fluid rounded-start" alt="/uploads/<%= selectedearphone.product %>" />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= selectedearphone.product %> </h5>
                    <div class="col-md-3">
                      <p class="discounted-price" style="font-size: larger; font-weight: 500"> Price: <%= Math.floor(selectedearphone.price - (selectedearphone.price * selectedearphone.discountPercentage / 100)) %> </p>                  
                      <p class="discounted-price" style="font-size: larger; font-weight: 500"></p>
                      <p class="discount-amount" style="display: none">You Save: ₹</p>
                      <h6>
                        <span class="original-price" style="text-decoration: line-through; color: green">MRP:<%=
                            selectedearphone.price %></span>
                        <span><small style="color: red; text-decoration: none"><%= selectedearphone.discountPercentage %>% off</small></span>
                      </h6>
                    </div>
                    <p>
                      <%= selectedearphone.model %>
                    </p>
                    <img width="100px" height="50px" src="/public/category/b assured logo (3) (1).png" alt="" />
                    <br />
                    <form action="/cart" method="POST">
                      <input type="hidden" name="product" value="<%= selectedearphone._id %>">
                      <input  type="hidden" name="model" placeholder="Model" value="<%= selectedearphone.product %>">
                      <input  type="hidden" name="price" placeholder="Price" value="<%= selectedearphone.price %>">
                      <input  type="hidden" name="Color" placeholder="Color" value="<%= selectedearphone.Color %>">
                      <input  type="hidden" name="discountPercentage" placeholder="Discount Percentage" value="<%= selectedearphone.discountPercentage %>">
                      <input type="hidden" name="imagePath" value="<%= selectedearphone.imagePath %>">
                    <a type="submit" href="" style="text-decoration: none; color: white"><button id="buy">ADD TCART</button></a>
                  </form>
                    <a href=""><button id="buy" style="background-color: rgb(65, 65, 191)"> BUY NOW</button></a>
                    <br />
                    <label for="" style="color: rgb(52, 52, 176)"><strong>HIGHLIGHT</strong></label>
                    <ul style="color: gray; list-style-type: none">
                      <li>RAM - <%= selectedearphone.ram %>
                      </li>
                      <li>ROM - <%= selectedearphone.rom %>
                      </li>
                      <li>Battery - <%= selectedearphone.battery %>
                      </li>
                      <li>Display - <%= selectedearphone.display %>
                      </li>
                      <li>Processor - <%= selectedearphone.processor %>
                      </li>
                      <li>Camera - <%= selectedearphone.camera %>
                      </li>
                    </ul>
                    <div id="cod" class="row-md-3 d-flex flex-row gap-2">
                      <div class="cod-item">
                        <img width="50px" src="/public/category/EMIAvailableGray.png" alt="" />
                        <p>EMI Available</p>
                      </div>
                      <div class="cod-item">
                        <img width="50px" src="/public/category/CODAvailableGray.png" alt="" />
                        <p>COD Available</p>
                      </div>
                      <div class="cod-item">
                        <img width="50px" src="/public/category/10DaysEasyReturnGray.png" alt="" />
                        <p>10 Days Easy Return</p>
                      </div>
                      <div class="cod-item">
                        <img width="50px" src="/public/category/6MONTH.png" alt="" />
                        <p>1 Year Warranty</p>
                      </div>
                    </div>
                    <br />
                    <label style="color: gray; font-size: larger"><strong>Specifications</strong></label>
                    <div class="spec-container">
                      <span class="spec-label">GENERAL</span>
                      <span class="spec-value"></span>
                    </div>
                    <div class="spec-container">
                      <span class="spec-label">Model Name</span>
                      <span class="spec-value">
                        <%= selectedearphone.model %>
                      </span>
                    </div>
                    <div class="spec-container">
                      <span class="spec-label">Color</span>
                      <span class="spec-value">
                        <%= selectedearphone.Color %>
                      </span>
                    </div>
                    <div class="more-content">
                      <div class="spec-container">
                        <span class="spec-label">Browse Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.BrowseType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">SIM Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.SimType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Hybrid Sim Slot</span>
                        <span class="spec-value">
                          <%= selectedearphone.HybridsimSlot %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">touchscreen</span>
                        <span class="spec-value">
                          <%= selectedearphone.touchscreen %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">OTG Compatible</span>
                        <span class="spec-value">
                          <%= selectedearphone.touchscreen %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">OTG Compatible</span>
                        <span class="spec-value">
                          <%= selectedearphone.OTGCompatible %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Quick Charging</span>
                        <span class="spec-value">
                          <%= selectedearphone.QuickCharging %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Sound Enhancements</span>
                        <span class="spec-value">
                          <%= selectedearphone.SoundEnhancements %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Display Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.DisplayFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Display Size</span>
                        <span class="spec-value">
                          <%= selectedearphone.DisplaySize %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Resolution Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.ResolutionType %>
                        </span>
                      </div>

                      <div class="spec-container">
                        <span class="spec-label">Display Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.DisplayType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Other Display Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.OtherDisplayFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Os & Processor Feature</span>
                        <span class="spec-value">
                          <%= selectedearphone.OsProcessorFeature %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Operation System</span>
                        <span class="spec-value">
                          <%= selectedearphone.OperationSystem %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Processor Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.ProcessorType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Operation Frequency</span>
                        <span class="spec-value">
                          <%= selectedearphone.OperationFrequency %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Memory & Storage Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.MemoryStorageFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Internal Storage</span>
                        <span class="spec-value">
                          <%= selectedearphone.InternalStorage %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Ram</span>
                        <span class="spec-value">
                          <%= selectedearphone.ram %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Camera Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.CameraFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Primary Camera Available</span>
                        <span class="spec-value">
                          <%= selectedearphone.PrimaryCameraAvailable %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Primary Camera</span>
                        <span class="spec-value">
                          <%= selectedearphone.PrimaryCamera %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Primary Camera Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.PrimaryCameraFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Secondary Camera Available</span>
                        <span class="spec-value">
                          <%= selectedearphone.SecondaryCameraAvailable %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Secondary Camera</span>
                        <span class="spec-value">
                          <%= selectedearphone.SecondaryCamera %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">HD Recording</span>
                        <span class="spec-value">
                          <%= selectedearphone.HDRecording %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Full FD Recording</span>
                        <span class="spec-value">
                          <%= selectedearphone.FullHDRecording %>
                        </span>
                      </div>

                      <div class="spec-container">
                        <span class="spec-label">Video Recording Resolution</span>
                        <span class="spec-value">
                          <%= selectedearphone.VideoRecordingResolution %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Digital Zoom</span>
                        <span class="spec-value">
                          <%= selectedearphone.DigitalZoom %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Frame Rate</span>
                        <span class="spec-value">
                          <%= selectedearphone.FrameRate %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Dual Camera Lens</span>
                        <span class="spec-value">
                          <%= selectedearphone.DualCameraLens %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Call Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.CallFeatures %>
                        </span>
                      </div>

                      <div class="spec-container">
                        <span class="spec-label">Speaker Phone</span>
                        <span class="spec-value">
                          <%= selectedearphone.SpeakerPhone %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Connectivity Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.ConnectivityFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Network Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.NetworkType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Supported Network</span>
                        <span class="spec-value">
                          <%= selectedearphone.SupportedNetwork %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Internet Connectivity</span>
                        <span class="spec-value">
                          <%= selectedearphone.InternetConnectivity %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Pre-installed Browser</span>
                        <span class="spec-value">
                          <%= selectedearphone.PreinstalledBrowser %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Micro USB Version</span>
                        <span class="spec-value">
                          <%= selectedearphone.MicroUSBVersion %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Bluetooth Support</span>
                        <span class="spec-value">
                          <%= selectedearphone.BluetoothSupport %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Bluetooth Version</span>
                        <span class="spec-value">
                          <%= selectedearphone.BluetoothVersion %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Wi-fi Version</span>
                        <span class="spec-value">
                          <%= selectedearphone.WifiVersion %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Wi-Fi Hotspot</span>
                        <span class="spec-value">
                          <%= selectedearphone.WiFiHotspot %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">NFC</span>
                        <span class="spec-value">
                          <%= selectedearphone.NFC %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">GPS Support</span>
                        <span class="spec-value">
                          <%= selectedearphone.GPSSupport %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Other Details</span>
                        <span class="spec-value">
                          <%= selectedearphone.OtherDetails %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">SmartPhone</span>
                        <span class="spec-value">
                          <%= selectedearphone.SmartPhone %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">SIM Size</span>
                        <span class="spec-value">
                          <%= selectedearphone.SIMSize %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">SMS</span>
                        <span class="spec-value">
                          <%= selectedearphone.SMS %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Voice Input</span>
                        <span class="spec-value">
                          <%= selectedearphone.VoiceInput %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Graphic PPI</span>
                        <span class="spec-value">
                          <%= selectedearphone.GraphicPPI %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Sensors</span>
                        <span class="spec-value">
                          <%= selectedearphone.Sensors %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Other Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.OtherFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">GPS Type</span>
                        <span class="spec-value">
                          <%= selectedearphone.GPSType %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Multimedia Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.MultimediaFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Video Formats</span>
                        <span class="spec-value">
                          <%= selectedearphone.VideoFormats %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Battery & Power Features</span>
                        <span class="spec-value">
                          <%= selectedearphone.BatteryPowerFeatures %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Battery Capacity</span>
                        <span class="spec-value">
                          <%= selectedearphone.BatteryCapacity %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Dimensions</span>
                        <span class="spec-value">
                          <%= selectedearphone.Dimensions %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Width</span>
                        <span class="spec-value">
                          <%= selectedearphone.Width %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Height</span>
                        <span class="spec-value">
                          <%= selectedearphone.Height %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Depth</span>
                        <span class="spec-value">
                          <%= selectedearphone.Depth %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Weight</span>
                        <span class="spec-value">
                          <%= selectedearphone.Weight %>
                        </span>
                      </div>
                      <div class="spec-container">
                        <span class="spec-label">Warranty</span>
                        <span class="spec-value">
                          <%= selectedearphone.Warranty %>
                        </span>
                      </div>
                    </div>
                    <span class="show-more-button" onclick="toggleContent()">Show More</span>
                    <span class="show-less-button" onclick="toggleContent()" style="display: none">Show Less</span>
                    <p>
                      <%= selectedearphone.description %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
              <% } %>
      </div>
    </div>
  </section>