<%- include('partials/header', { title: title }) %>

<section>
    <div id="list">
    <div  class="row-md-3">
        <div class="row ms-5  pt-3">
            <div class="card ">
              <h6><img style="margin-right: 1px;" class="ms-2 my-1" width="55" height="55" src="https://img.icons8.com/color/48/name--v1.png" alt="name--v1"/>&nbsp;hello</h6>
              <h6 class="text-center ms-5" style="margin-top: -25px;">&nbsp;<%= Name %></h6>
              </div>
            </div>
      </div>
      <div id="border" class="row ms-5  pt-5">
        <div class="card border-0">
            <h5><a id="text" href="/user-profile"><img width="35" height="35" src="https://img.icons8.com/ios-filled/35/order-completed.png" alt="order-completed"/>&nbsp;My Orders</a></h5>
          </div>
        </div>
        <div id="border" class="row ms-5  pt-3">
          <div class="card border-0">
              <h5><img width="35" height="35" src="https://img.icons8.com/fluency-systems-filled/40/user.png" alt="user"/>&nbsp;My Account</h5>
              <a id="text" class="text-end" href="user-personal-information">Profile information</a>
              <a id="text"class="text-center ms-4" href="/address">Manage address</a>
              <br>
            </div>
          </div>
          <div  class="row ms-5  pt-3 ">
            <div class="card border-0">
                <h5><img width="30" height="30" src="https://img.icons8.com/ios-filled/35/topic.png" alt="topic"/>&nbsp;My Stuff</h5>
                <a id="text" class="ms-5" href="">wishlist</a>
              </div>
            </div>
            <div class="row ms-5  pt-2">
              <div class="card">
                <button class=" border-0 bg-white"><a id="text" href="/logout">logout</a></button>
                </div>
              </div>
        </div>
        </div>
      </div>
  </div>
</div>
5453
</section>
<%- include('partials/footer') %>
<section>
  <div id="myorder2">
    <div class="ms-4 mt-4">
        <h4>Edit</h4>
      <br>
      <form action="/user-personal-edit/<%= id %>" method="post" id="add-form" enctype="multipart/form-data">
        <div  class="form-group col-md-4">
            <label   for="name">Name:</label>
            <input  type="text"  class="form-control" id="Name"  name="Name" placeholder="Name" value="<%= Name %>" required minlength="3">
          </div>
          <div  class="form-group col-md-4">
            <label   for="name">phone:</label>
            <input  type="text"  class="form-control" id="phone"  name="phone" placeholder="phone" value="<%= phone %>" required minlength="3">
          </div>
        <div  class="form-group col-md-4">
            <label   for="name">Username:</label>
            <input  type="text"  class="form-control" id="email"  name="email" placeholder="username" value="<%= email %>" disabled required minlength="3">
          </div>
          <br>
          <button type="submit" class="btn btn-success " value="update user" id="log" action="">update user</button>
        </div>
    </form>
      
</section>
